<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Aleksandr Dashboard</title>

        <link rel="shortcut icon" href="{{ static_url("img/favicon.ico") }}"/>

        <link rel="stylesheet" href="{{ static_url("css/main.css") }}">
        <link rel="stylesheet" href="{{ static_url("node_modules/bootstrap/dist/css/bootstrap.min.css") }}">
        <link rel="stylesheet" href="{{ static_url("node_modules/jquery-ui/jquery-ui.min.css") }}">
        <link rel="stylesheet" href="{{ static_url("node_modules/jquery-ui/jquery-ui-timepicker-addon.min.css") }}">

        <script type="text/javascript" src="{{ static_url("node_modules/canvasjs/canvasjs.min.js") }}"></script>
        <script type="text/javascript">
            window.onload = function () {
                var sensor_data = {% raw sensordata %};

                var chartsensor1 = new CanvasJS.Chart("sensorDataChart1",
                {
                    animationEnabled: true,
                    title:{
                        text: "EPS Board Temp VS. Time"
                    },
                    axisX:{
                        title: "time",
                        intervalType: "second",
                        valueFormatString: "DD-MMM hh:mm:ss",
                        labelAngle: -50
                    },
                    axisY:{
                        title: "Temperature °C"
                    },
                    data: [
                {
                    type: "spline",
                    showInLegend: true,
                    name: "series1",
                    legendText: "EPS Board Temperature",
                    xValueType: "dateTime",
                    dataPoints: sensor_data['temp_eps_brd']
                }
                    ],
                legend: {
                    cursor: "pointer",
                    itemclick: function (e) {
                        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }
                        chartsensor1.render();
                    }
                }
                });
                chartsensor1.render();

                var chartsensor2 = new CanvasJS.Chart("sensorDataChart2",
                {
                    animationEnabled: true,
                    title:{
                        text: "Payload Board Temp VS. Time"
                    },
                    axisX:{
                        title: "time",
                        intervalType: "second",
                        valueFormatString: "DD-MMM hh:mm:ss",
                        labelAngle: -50
                    },
                    axisY:{
                        title: "Temperature °C"
                    },
                    data: [
                {
                    type: "spline",
                    showInLegend: true,
                    name: "series1",
                    legendText: "Payload Board Temperature",
                    xValueType: "dateTime",
                    dataPoints: sensor_data['temp_payload_brd']
                }
                    ],
                legend: {
                    cursor: "pointer",
                    itemclick: function (e) {
                        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }
                        chartsensor2.render();
                    }
                }
                });
                chartsensor2.render();

                var chartsensor3 = new CanvasJS.Chart("sensorDataChart3",
                {
                    animationEnabled: true,
                    title:{
                        text: "Magnetometer Data"
                    },
                    axisX:{
                        title: "time",
                        intervalType: "second",
                        valueFormatString: "DD-MMM hh:mm:ss",
                        labelAngle: -50
                    },
                    axisY:{
                        title: "Magnitude Mag-X"
                    },
                    data: [
                {
                    type: "spline",
                    showInLegend: true,
                    name: "series1",
                    legendText: "Magnetometer (X,Y,Z) Magnitude",
                    xValueType: "dateTime",
                    dataPoints: sensor_data['mag0_x']
                }
                    ],
                legend: {
                    cursor: "pointer",
                    itemclick: function (e) {
                        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }
                        chartsensor3.render();
                    }
                }
                });
                chartsensor3.render();

                var chartsensor4 = new CanvasJS.Chart("sensorDataChart4",
                {
                    animationEnabled: true,
                    title:{
                        text: "Batteries Power VS. Time"
                    },
                    axisX:{
                        title: "time",
                        intervalType: "second",
                        valueFormatString: "DD-MMM hh:mm:ss",
                        labelAngle: -50
                    },
                    axisY:{
                        title: "Power (Watt)"
                    },
                    data: [
                {
                    type: "spline",
                    showInLegend: true,
                    name: "series1",
                    legendText: "Batteries Power",
                    xValueType: "dateTime",
                    dataPoints: sensor_data['pwr_power']
                }
                    ],
                legend: {
                    cursor: "pointer",
                    itemclick: function (e) {
                        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }
                        chartsensor4.render();
                    }
                }
                });
                chartsensor4.render();

                var chartsensor5 = new CanvasJS.Chart("sensorDataChart5",
                {
                    animationEnabled: true,
                    title:{
                        text: "Batteries Current VS. Time"
                    },
                    axisX:{
                        title: "time",
                        intervalType: "second",
                        valueFormatString: "DD-MMM hh:mm:ss",
                        labelAngle: -50
                    },
                    axisY:{
                        title: "Current (Amp)"
                    },
                    data: [
                {
                    type: "spline",
                    showInLegend: true,
                    name: "series1",
                    legendText: "Batteries Current",
                    xValueType: "dateTime",
                    dataPoints: sensor_data['pwr_current']
                }
                    ],
                legend: {
                    cursor: "pointer",
                    itemclick: function (e) {
                        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }
                        chartsensor5.render();
                    }
                }
                });
                chartsensor5.render();

                var chartsensor6 = new CanvasJS.Chart("sensorDataChart6",
                {
                    animationEnabled: true,
                    title:{
                        text: "Batteries Voltage VS. Time"
                    },
                    axisX:{
                        title: "time",
                        intervalType: "second",
                        valueFormatString: "DD-MMM hh:mm:ss",
                        labelAngle: -50
                    },
                    axisY:{
                        title: "Voltage (Volt)"
                    },
                    data: [
                {
                    type: "spline",
                    showInLegend: true,
                    name: "series1",
                    legendText: "Batteries Voltage",
                    xValueType: "dateTime",
                    dataPoints: sensor_data['pwr_volts']
                }
                    ],
                legend: {
                    cursor: "pointer",
                    itemclick: function (e) {
                        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }
                        chartsensor6.render();
                    }
                }
                });
                chartsensor6.render();
            }
</script>


    </head>

    <body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-1">
                <br/>
                <img class="img-responsive center-block logo-left" src="{{ static_url("img/SpacecraftDivisionLogo.png") }}" alt="Spacecraft division logo">
            </div>
            <div class="col-xs-10">
                <br/>
                <h1 class="text-primary text-center">Space Concordia - Aleksandr</h1>
                <br/>
            </div>
            <div class="col-xs-1">
                <br/>
                <img class="img-responsive center-block logo-right" src="{{ static_url("img/AleksandrLogo.png") }}" alt="Aleksander mission patch">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-pills nav-center">
                    <li><a href="/system">System Status</a></li>
                    <li><a href="/commands">Send Commands</a></li>
                    <li><a href="/battery">Battery Heaters Demo</a></li>
                    <li><a href="/payload">Payload Experiment Data</a></li>
                    <li role="presentation" class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Sensor Data <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/interfacing">HW Interfacing</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/sensors">Sensor Data</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main sensors">
            <div class="row">
                <div class="col-xs-5"></div>
                <div class="col-xs-2">
                <div id="batterydata" class="dropdown">
                    <button id="sensor-data-selec-btn" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sensor Identifier: Temp EPS Board
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a id="sensorData1" href="#">Temp EPS Board</a></li>
                        <li><a id="sensorData2" href="#">Temp Payload Board</a></li>
                        <li><a id="sensorData3" href="#">Magnetometer Data</a></li>
                        <li><a id="sensorData4" href="#">Batteries Power</a></li>
                        <li><a id="sensorData5" href="#">Batteries Current</a></li>
                        <li><a id="sensorData6" href="#">Batteries Voltage</a></li>
                    </ul>
                </div>
                </div>
                <div class="col-xs-5"></div>
            </div>
            <div class="row">
                <div class="chartdatadiv" id="sensorDataChart1" style="height: 400px; width: 40%;"></div>
                <div class="chartdatadiv" id="sensorDataChart2" style="height: 400px; width: 40%;"></div>
                <div class="chartdatadiv" id="sensorDataChart3" style="height: 400px; width: 40%;"></div>
                <div class="chartdatadiv" id="sensorDataChart4" style="height: 400px; width: 40%;"></div>
                <div class="chartdatadiv" id="sensorDataChart5" style="height: 400px; width: 40%;"></div>
                <div class="chartdatadiv" id="sensorDataChart6" style="height: 400px; width: 40%;"></div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="{{ static_url("node_modules/jquery/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("node_modules/jquery-ui/jquery-ui.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("node_modules/jquery-ui/jquery-ui-timepicker-addon.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("node_modules/bootstrap/dist/js/bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("node_modules/smoothie/smoothie.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/app.js") }}"></script>
    </body>
</html>

