<div class="row">
    <div class="col-xs-1">
        <img class="img-responsive center-block logo-left" src="{{ static_url("img/SpacecraftDivisionLogo.png") }}" alt="Spacecraft division logo">
    </div>
    <div class="col-xs-10">
        <br/>
        <h1 class="text-primary text-center">Space Concordia - Aleksandr</h1>
        <br/>
        <ul class="nav nav-tabs">
            <li  class="active"><a href="/system">System Status</a></li>
            <li><a href="/commands">Send Commands</a></li>
            <li><a href="/payload">Payload Experiment Data</a></li>
            <li><a href="/telemetry">Telemetry Data</a></li>
            <li><a href="/config">Set Configurations</a></li>
        </ul>
    </div>
    <div class="col-xs-1">
        <img class="img-responsive center-block logo-right" src="{{ static_url("img/AleksandrLogo.png") }}" alt="Aleksander mission patch">
    </div>
</div>

<div class="row main system">
    <div class="col-xs-4">
        <div class="systembox leftedge">
            <div class="sysheader">
                <span class="title">RAM USAGE</span>
                <img src="{{ static_url("img/reload.png") }}">
            </div>
            <div class="sysbody">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
        <div class="systembox leftedge">
            <div class="sysheader">
                <span class="title">RAM INTENSIVE PROCESSES</span>
                <img src="{{ static_url("img/reload.png") }}">
            </div>
            <div class="sysbody">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="systembox middle">
            <div class="sysheader">
                <span class="title">CPU AVG LOAD</span>
                <img src="{{ static_url("img/reload.png") }}">
            </div>
            <div class="sysbody">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
        <div class="systembox middle">
            <div class="sysheader">
                <span class="title">CPU INTENSIVE PROCESSES</span>
                <img src="{{ static_url("img/reload.png") }}">
            </div>
            <div class="sysbody">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="systembox rightedge">
            <div class="sysheader">
                <span class="title">CPU UTILIZATION</span>
                <img src="{{ static_url("img/reload.png") }}">
            </div>
            <div class="sysbody">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
        <div class="systembox rightedge">
            <div class="sysheader">
                <span class="title">DISK PARTITION</span>
                <img src="{{ static_url("img/reload.png") }}">
            </div>
            <div class="sysbody">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
    </div>
</div>
