<div class="row">
    <div class="col-xs-2">
        <img class="img-responsive center-block logo-left" src="{{ static_url("img/SpacecraftDivisionLogo.png") }}" alt="Spacecraft division logo">
    </div>
    <div class="col-xs-8">
        <br/>
        <h1 class="text-primary text-center">Space Concordia - Aleksandr</h1>
        <br/>
        <ul class="nav nav-tabs">
            <li><a href="/system">System Status</a></li>
            <li><a href="/commands">Send Commands</a></li>
            <li><a href="/payload">Payload Experiment</a></li>
            <li class="active"><a href="/telemetry">Telemetry Data</a></li>
            <li><a href="/config">Set Config</a></li>
        </ul>
    </div>
    <div class="col-xs-2">
        <img class="img-responsive center-block logo-right" src="{{ static_url("img/AleksandrLogo.png") }}" alt="Aleksander mission patch">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="main telemetry">
        </div>
    </div>
</div>
